<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Calendário Menstrual - Dália</title>
  
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <link rel="stylesheet" href="/calendario/calendario.css" />
  <script src="/calendario/calendario.js" defer></script>
</head>
<body>
<header>
  <div class="logo">
    <img src="/Home/img/navbar/Logo_dalia.png" alt="Logo">
  </div>
  <nav>
      <a href="/Mhome"><img th:src="@{/homeM(parte1)/img/home.svg}" alt="Home"></a>
      <a href="/calendar"><img th:src="@{/homeM(parte1)/img/calendario.svg}" alt="Calendário"></a>
      <a href="/Emocoes/emocoes.html"><img th:src="@{/homeM(parte1)/img/registro.svg}" alt="Registro Diário"></a>
      <a href="/posts"><img th:src="@{/homeM(parte1)/img/chat.svg}" alt="Forum"></a>
      <a href="/perfilM"><img th:src="@{/homeM(parte1)/img/perfil.svg}" alt="Perfil"></a>
  </nav>
</header>

<div class="calendar-section">
  <h2>Seu Calendário Menstrual</h2>

  <div class="card-calendar">
    <!-- Controles para mês e ano -->
    <div id="btn-controls">
      <button id="prev-month">&lt; Mês Anterior</button>
      <span id="month-year"></span>
      <button id="next-month">Próximo Mês &gt;</button>
    </div>
    <div class="calendar">
      <div id="calendar"></div>
    </div>
  </div>

  <p id="proxima-menstruacao"></p>
  <button id="registrar-menstruacao">Registrar Menstruação</button>
  <button id="fim-menstruacao" style="display:none;">Fim da Menstruação</button>
</div>

<div class="explicacao">
  <h3>Entendendo seu Ciclo</h3>
  <div class="callendar__explanation">
    <div class="callendar__explanation__title">
      <div class="menstruacao-sample"></div><strong>Menstruação:</strong>
    </div>
    <p class="menstruacao">Os dias em vermelho indicam seu período menstrual.</p>
  </div>
  <div class="callendar__explanation">
    <div class="callendar__explanation__title">
      <div class="fertil-sample"></div><strong>Dias Férteis:</strong>
    </div>
    <p class="fertil">Os dias em azul indicam seu período fértil, quando há maior chance de engravidar.</p>
  </div>
  <div class="callendar__explanation">
    <div class="callendar__explanation__title">
      <div class="ovulacao-sample"></div><strong>Ovulação:</strong>
    </div>
    <p class="ovulacao">O dia em verde indica sua ovulação, o dia mais fértil do ciclo.</p>
  </div>
</div>
</body>
</html>